{% extends 'base.html' %} 
{% block content %}

<center style="padding-top: 10px; font-weight: bold;"><h2>Fruits</h2></center>
<div class="row">
    {% for fruit in fruit_obj %}
        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding-top: 20px;">
            <form action="" method="POST">
                {% csrf_token %}
                <img style="width: 30%;
                            margin-top: 20px;
                            border: 1px #081500 solid;
                            border-radius: 10px;"
                    src='{{ MEDIA_URL | slice:":1" }}{{fruit.image}}'>
                <p style="padding-top: 10px;">{{ fruit.name }}</p>
                <p>Price: ${{ fruit.price }} per 1kg</p>
                <p>Description: {{ fruit.description }}</p>
                <div style="padding-bottom: 10px;">
                    Quantity: <input type="number" name="quantity" required>
                </div>
                <input type="hidden" name="fruit_name" value="{{ fruit.name }}">

                {% if request.session.logged == True %}
                <input type="submit" name="add_to_cart" id="add_to_cart" hidden >
                <label for="add_to_cart">
                    <i class="fa fa-shopping-cart btn btn-default item_btn" style="float: left; margin-left: 67px; font-size:22px;"></i>
                </label>
                <input type="submit" name="add_to_wishlist" id="add_to_wishlist" hidden >
                <label for="add_to_wishlist">
                    <i class="fa fa-heart btn btn-default item_btn" style="float: left; margin-left: 67px; font-size:22px;"></i>
                </label>
                {% else %}
                <a href="/user/login" class="btn btn-default item_btn" style="float: left; margin-left: 67px; font-size:22px;" onclick="return loginAlert()">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <a href="/user/login" class= "btn btn-default item_btn" style="float: right; margin-right: 50px; font-size:22px;" onclick="return loginAlert()">
                    <i class="fa fa-heart"></i>
                </a>
                {% endif %}
            </form>
        </div>
    {% endfor %}
</div>

{{welcome}} 
{% endblock %}