{% extends 'base.html' %} 
{% block content %}

<center style="padding-top: 10px; font-weight: bold;"><h2>Fruits</h2></center>
<div class="row">
    {% for fruit in fruit_obj %}
        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding-top: 20px;">
            <form action="" method="POST">
                {% csrf_token %}
                <img style="width: 30%;
                            margin-top: 20px;
                            border: 1px #081500 solid;
                            border-radius: 10px;"
                    src='{{ MEDIA_URL | slice:":1" }}{{fruit.image}}'>
                <p style="padding-top: 10px;">{{ fruit.name }}</p>
                <p>Price: ${{ fruit.price }} per 1kg</p>
                <p>Description: {{ fruit.description }}</p>
                <div style="padding-bottom: 10px;">
                    Quantity: <input type="number" name="quantity">
                </div>
                <input type="hidden" name="fruit_name" value="{{ fruit.name }}">
                <input type="submit" name="add_to_cart" value="Add To Cart">
                <input type="submit" name="add_to_wishlist" value="Add To Wishlist">
            </form>
        </div>
    {% endfor %}
</div>

{{welcome}} 
{% endblock %}