{% extends 'base.html' %} {% block content %}
{% if error %}
<script>
    alert("{{error}}")
</script>
{% endif %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
            <h1>Password Reset</h1>
            {{password}}
            <form action='.' method='POST'>
                {% csrf_token %}
                <input type="Password" placeholder="Enter you current Password" name="currentpwd">
                
                <input id="user-profile-btn" type='submit' value='Enter' >
                
            </form>
                
        <center>
    </div>
    <div class="col-md-4"></div>
</div>



{{welcome}} {% endblock %}