{% extends 'register_login_base.html' %} {% block title %}
<title>Login</title>
{% endblock %} {% block content %}

<p id="logintitle">Login Form </p>

{% if error %}
<script>
    alert("{{error}}")
</script>
{% endif %}

<form action='.' method='POST'>{% csrf_token %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for field in userForm %}
            <div style="font-weight:bold;">
                {{field}}
            </div><br> {% endfor %}
            <center><input id="login-submit-btn" type='submit' value='Login'></center>
            <br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <a href="/user/acceptemail" id="forget-password">Forget Password?</a>
        </div>
        <div class="col-md-6">
            <a href="/user/register" id="go-to-register">Doesn't have an account?</a>
        </div>
    </div>
</form>
{% endblock %}