{% extends 'base.html' %} {% block content %}
{% if error %}
<script>
    alert("{{error}}")
</script>
{% endif %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
            <h1>Password Reset</h1>
            {{password}}
            <form action='.' method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                
                <input id="user-profile-btn" type='submit' value='Save Changes' >
                
            </form>
                
        <center>
    </div>
    <div class="col-md-4"></div>
</div>



{{welcome}} {% endblock %}