body {
    background-color: #F0F0F0;
}


/* Style for logo */

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}


/* Style for form background */

#form-body {
    background-color: #FBC093;
}


/* Style for form input */

input[type=text] {
    border: 1px solid #081500;
    padding: 3px 10px;
    color: #081500;
    border-radius: 4px;
    width: 100%;
}

input[type=password] {
    border: 1px solid #081500;
    padding: 3px 10px;
    color: #081500;
    border-radius: 4px;
    width: 100%;
}


/* Style for Register and Login Pages */

#regtitle {
    color: #081500;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#register-submit-btn {
    border-radius: 4px;
    color: #F0F0F0;
    padding: 8px 23px;
    margin-left:14px;
    width:40%;
    cursor: pointer;
    background-color: #081500;
    border: none;
    font-weight: bold;
}

#register-submit-btn:hover{
    background-color: #FBC093;
    color: #081500;
    cursor:pointer;
}

#login-submit-btn {
    border-radius: 4px;
    color: #F0F0F0;
    padding-top:7px;
    padding-bottom:7px;
    width:90%;
    cursor: pointer;
    background-color: #081500;
    border: none;
    font-weight: bold;

}

#login-submit-btn:hover {
    background-color: #FBC093;
    color: #081500;
}


#go-to-login {
    text-decoration: none;
    font-size: 12.5px;
    color: #C92F43;
}

#go-to-login:hover {
    color: #081500;
}

#forget-password {
    text-decoration: none;
    font-size: 12.5px;
    color: #C92F43;
}

#forget-password:hover {
    color: #081500;
}

#go-to-register {
    text-decoration: none;
    font-size: 12.5px;
    color: #C92F43;
}

#go-to-register:hover {
    color: #081500;
}

#logintitle {
    color: #081500;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#form-base {
    border-radius: 6px;
    margin: 30px 20px;
    padding-top: 20px;
    padding-bottom:20px;
    box-shadow: 2px 3px 2px 3px #717D7E;
    background-color: #F0F0F0;
}


/* Style for Header Nav */

#search-bar {
    margin-top: 80px;
    width: 70%;
    display: flex;
}

#main-nav {
    
    margin-top: 40px;
    color: #F0F0F0;
    background-color: #7CC926;
}

ul {
    list-style-type: none;
  
    background-color: #7CC926;
}

li {
    font-size: 24px;
    padding: 10px 38.5px;
    
    float:left;

    font-weight:bold;
    color:#F0F0F0;
    background-color: #7CC926;
}
li a{
    
    font-weight:bold;
    color:#F0F0F0;
}
li:hover{
    color: #081500;
    text-decoration:none;
    cursor:pointer;
}

li a:hover{
    
    color: #081500;
    text-decoration:none;
    cursor:pointer;
}

.categories {
    position: relative;
    display: inline-block;
  }
  
.itemlist{
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #7CC926;
    padding: 12px 16px;
    z-index: 1;
  }
  
.categories:hover .itemlist {
    margin-top:5px;
    display: block;
    border:1px solid rgba(0,0,0,0.2);
    color:#F0f0F0;
    border-radius:5px;
    
    background-color: #7CC926;
  }

  .categories:hover .items {
    font-weight:bold;
    color:#F0F0F0;
    padding:5px 10px;
    text-decoration:None;
    font-size:20px;
  }

.categories:hover .items:hover{
    color: #081500;
}

.profile{
    padding-left:90px;
    padding-right:65px;
}

.profile:hover .itemlist {
    margin-top:5px;
    display: block;
    border:1px solid rgba(0,0,0,0.2);
    color:#F0f0F0;
    border-radius:5px;
    background-color: #7CC926;
  }

  .profile:hover .items {
    font-weight:bold;
    color:#F0F0F0;
    padding:5px 10px;
    text-decoration:None;
    font-size:20px;
  }

  .profile:hover .items:hover{
    color: #081500;
  }

#nav-profile-image{
    
    
    width:45px;
    height:40px;
    border-radius:50%;
}

/* Style for cart */
.cart {
    position: relative;
    display: inline-block;
  }

.cartlist{
    display: none;
    position: absolute;
    max-height: 400px;
    overflow-y: scroll;
    min-width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #7CC926;
    padding: 12px 16px;
    z-index: 1;
    left: -40px;
  }

.cart_title{
    font-size: 19px;
    margin-top: 10px;
    font-weight: bold;
}

.cart_img{
    width: 50px;
    margin-top: 20px;
    border: 1px #081500 solid;
    border-radius: 10px
}

.cart_qty{
    font-size: 18px;
    margin-top: 40px;
}

.cart_item_del{
    margin-top: 32px;
    background-color: #C92F43;
    color: #F0F0F0
}

.cart:hover .cartlist {

    display: block;
    margin-right:500px;
    border:1px solid rgba(0,0,0,0.2);
    color:#F0f0F0;
    border-radius:5px;

    background-color: #7CC926;
  }

  .cart:hover .cart_item {

    font-weight:bold;
    color:#F0F0F0;
    padding-left:10px;
    float:left;
    text-decoration:None;
    font-size:20px;
  }

.item_btn {
    background-color: #67BB12;
    color: #081500;
    border: none;
    text-decoration: none;
    height: 30px;
}
.item_btn:hover {
    background-color: #F86166;
    color: #081500;
    text-decoration: none;
}

/* Style for footer */

.footer {
    
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7CC926;
}

.footer a {
    text-decoration: none;
    color: #081500;
}

.footer a:hover {
    color: #C92F43;
}

.footer h3 {
    padding-bottom: 10px;
}

.footer h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer img {
    width: 200px;
}

.footer img:hover {
    border: 1px solid #081500;
    border-radius: 20px;
}

.footer i {
    font-size: 24px;
    padding-right: 10px;
}

.footer i:hover {
    color: #C92F43;
}

.footer_maintain {
    padding: 10px;
    background-color: #A9A9A9;
}

.footer_row {
    padding-top: 10px;
}

/* Style for profile page */
#profile-page-image{
    width:30%;
    border-radius:50%;
}

#user-profile-btn {
    border-radius: 4px;
    color: #F0F0F0;
    text-decoration:none;
    cursor: pointer;
    background-color: #081500;
    padding: 10px 10px;
    margin-top:10px;
    font-weight: bold;
}

#user-profile-btn:hover{
    background-color: #FBC093;
    color: #081500;
    cursor:pointer;
    text-decoration:none;
}

.password-btn{
    border-radius: 4px;
    color: #F0F0F0;
    text-decoration:none;
    cursor: pointer;
    box-shadow:1px 2px 1px 2px rgba(0,0,0,1);
    background-color: #081500;
    padding: 14px 10px;
    font-weight: bold;
}

.password-btn:hover{
    background-color: #FBC093;
    color: #081500;
    cursor:pointer;
    text-decoration:none;
}