{% load static %}
<div class="row footer">
    <div class="col-md-6">
        <div class="row footer_row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>Customer Service</h3>
                <a href="">How to Buy</a><br>
                <a href="">How to Contact Us</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h3>Garden Shop</h3>
                <a href="">About Us</a><br>
                <a href="">Terms & Condition</a><br>
                <a href="">Privary & Policy</a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row footer_row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <a href="/user/index"><img src="{% static 'images/logo.png' %}"></a>
            </div>
            <div class="col-md-7"></div>
        </div>
        <div class="row footer_row">
            <div class="col-md-12">
                <h2>Stay Connected</h2>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-whatsapp"></i>
            </div>
        </div>
    </div>
</div>
<div class="row footer_maintain footer_row">
    <div class="col-md-12">
        <center class="text">Designed and Maintained By <strong>Reck_Guba_Project Team</strong> [ <em>Chaw Thiri Soe</em> | <em>Thaw Zin Hein</em> ]</center>
    </div>
</div>