{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {%block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>

<body id="form-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="form-base">
                <img id="logo" src="{% static 'images/logo.png' %}"><br> {% block content %} {% endblock %}
            </div>
            <div class="col-md-4"></div>

        </div>

    </div>



    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>